@font-face {
  font-family: Courgette;
  src: url("../font/Courgette/Courgette-Regular.ttf");
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serf;
  background-image: url("../img/background.png");
}

/************ style partagé par plusieur élement **********************/
.font-courgette {
  font-family: Courgette, cursive;
}

.rose-claire {
  color: #eb43a3;
}

.rose-sombre {
  color: #c55394;
}
/************ Menu ****************/
header {
  background-color: #c55394;
}
header > div {
  margin-left: 3%;
}

header a {
  color: #fff;
  display: inline-block;
  text-decoration: none;
}

/*** Effet hover sur les elements du menu***/
header a:hover {
  background-color: #eb43a3;
}

/*** Droite ***/
#menuLogo {
  float: left;
}

#menuLogo a {
  font-size: 1.5em;
  padding: 0.35em;
}

/*** Gauche ***/
header > div nav {
  float: right;
  margin-right: 3%;
}

nav > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav > ul li {
  float: left;
}

nav > ul li a {
  padding: 0.9rem;
  display: inline-block;
}
/**************** Devise ********************/
#devise h1 {
  margin: 0;
  text-align: center;
  padding: 5rem 0 2rem;
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-image: url("../img/rainbow.png");
}

/******************** Contenu principale *****************************/
main {
  width: 70%;
  margin: 0 auto;
  padding: 1.5rem;
  border-radius: 1.2rem;
  background-color: #fff;
  box-shadow: 0 0 1rem #333;
}

/*** Les figure ***/
.col-25 {
  margin: 0;
  padding: 0.5rem;
  width: 25%;
  float: left;
  transition: 1s all linear;
}

figure[class="col-25"] > img {
  width: 100%;
}

figure[class="col-25"] > figcaption {
  color: white;
  bottom: 1.6rem;
  padding: 0.5rem;
  text-align: center;
  position: relative;
  font-weight: 500;
  background-color: rgba(0, 0, 0, 0.6);
}

figure[class="col-25"]:hover {
  z-index: 3;
  position: relative;
  transform: scale(1.3);
}

/*** Information  ***/

iframe {
  border: 0;
  width: 55%;
  float: left;
  height: 450px;
}

.info {
  width: 45%;
  float: left;
  padding: 1rem;
}

#email {
  width: 50%;
  display: block;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: 0;
  border: 2px solid gray;
}

#email:focus,
#email:focus-visible {
  outline: 0;
  border-radius: 0;
  border: 2px solid #eb43a3;
  box-shadow: 0 0 1rem #c55394;
}

#btn-valider {
  color: #fff;
  border: none;
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.3rem;
  background-color: #c55394;
}

#btn-valider:focus,
#btn-valider:hover,
#btn-valider:focus-visible {
  border-radius: 0;
  border-radius: 0.3rem;
  outline: 1px solid#eb43a3;
  box-shadow: 0 0 0.5rem #eb43a3;
}

/*************** footer ***********************/
footer {
  bottom: 0;
  padding: 1vh;
  margin-top: 5vh;
  position: relative;
  background-color: #eb43a3;
}
footer p {
  color: #fff;
  text-align: right;
  font-weight: bold;
}



/*** Le conteneur pour fixer le pied de page en bas ***/
.conteneur{
  height: auto!important;
  min-height: 90vh;
}


/* permet d' enlever certain effet indésirible de la propriété float
 en insérent un contenu vide apres le le conténeur des flottant ::after, puis annulé 
 les flottant, puis et mettant lélement endisplay table

*/


.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
